* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafd;
  color: #6c757d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}

table {
  font-family: "Maven Pro", sans-serif;

  border-collapse: collapse;
  width: 100%;
  padding: 30px;
  background-color: white;
}

.table-h3 {
  margin: 30px 0 0 0;
}

td,
th {
  border: 1px solid #dddddd60;
  text-align: left;
  padding: 8px;
  width: 10%;
}

thead {
  background-color: #333c49;

  color: white;
}

tr:nth-child(even) {
  background-color: #f1f3fa3d;
}
tr:hover {
  background: #f1f3fa;
}

.tableView {
  padding: 0 50px;
}

.nav-ul {
  display: flex;
  justify-content: center;
  background-color: #333c49;
  height: 50px;
  align-items: center;
}

.nav-ul li {
  margin: 0 15px;
  font-size: 18px;
}

.nav-ul a {
  color: #8391a2;
  text-decoration: none;
}

.nav-ul a:focus {
  color: white;
}

.linechart,
.barchart,
.linechartEnjoy {
  background-color: white;
  margin: 30px;
  box-shadow: 0px 0px 30px -24px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #6d767e;
  margin: 30px;
}

.inside-div-h3 {
  padding-top: 40px;
  margin: 0;
  margin-left: 70px;
}

button {
  background-color: #38d7a7;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px -24px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  outline: none;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: -60px;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333c49;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.student-list {
  display: flex;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  background-color: #f1f3fa;
  height: 70px;
}

.student-list li {
  margin: 0 20px;
}

.btn-li {
  margin: 0;
}
